{#=== OPTIONS ========================================================================================================#}

{% set option = {
class:       ('form-control ' ~ field.class)|trim,
height:      field.height|default(''),
label:       field.label,
info:        field.info|default(''),
required:    field.required|default(false),
errortext:   field.error|default(''),
placeholder: field.placeholder|default(''),
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
text: {
class:           option.class,
data_errortext:  option.errortext,
name:            name,
required:        option.required,
style:           option.height ? 'height: ' ~ option.height ~ ';' : '',
}
} %}

{#=== Extensions Config ==============================================================================================#}
{% set config = imageserviceConfig() %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'textarea' %}
{% block fieldset_widget 'fieldTextarea' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}
    <div class="col-xs-12">

        {% set value = context.content.get(contentkey)|default(field.default)|default({items:[]}) %}

        <textarea{{ macro.attr(attributes.text) }}>{{ value|json_encode }}</textarea>

        <div id="imageservice-{{ name }}-list"></div>

        <script>

            $(document).ready(
                    function() {

                        var defs = {
                            urls: {
                                {% for item in value.items|default([]) %}
                                "{{ item.id }}": "{{ imageservice(item,150,100) }}"{{ loop.last ?"":","}}
                                {% endfor %}
                            }
                        };

                        var imageService = new CnImageService({
                            cache: defs,
                            serviceUrl: '{{ paths.hosturl }}{{ paths.bolt }}image-service/image',
                            serviceName: '{{ field.service ? field.service : config.defaultName }}',
                            {% if field.maxFiles %}
                            maxFiles: {{ field.maxFiles }},
                            {% endif %}
                            maxFileSize: {{ field.maxFileSize ? field.maxFileSize: config.security['max-size'] }},
                            dataElement: '[name="{{ name }}"]',
                            hostElement: '#imageservice-{{ name }}-list',
                            attributes: {{ field.attributes|json_encode|raw }},
                            globals: {{ field.globals|json_encode|raw }}
                        });

                    }
            )


        </script>

    </div>
{% endblock fieldset_controls %}
