{#=== OPTIONS ========================================================================================================#}

{% set option = {
class:       ('form-control ' ~ field.class)|trim,
height:      field.height|default(''),
label:       field.label,
info:        field.info|default(''),
required:    field.required|default(false),
errortext:   field.error|default(''),
placeholder: field.placeholder|default(''),
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
text: {
class:           option.class,
data_errortext:  option.errortext,
name:            name,
required:        option.required,
style:           option.height ? 'height: ' ~ option.height ~ ';' : '',
}
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'textarea' %}
{% block fieldset_widget 'fieldTextarea' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        {% set value = context.content.get(contentkey)|default(field.default)|default([]) %}
        <textarea{{ macro.attr(attributes.text) }}>{{ value|json_encode }}</textarea>

        <div id="imageservice-{{ name }}"></div>

        <script>

            $(document).ready(
                    function() {

                        var defs = {
                            urls: {
                                {% if value %}
                                "{{ value.id }}": "{{ imageservice(value,150,100) }}"
                                {% endif %}
                            }
                        };

                        var imageService = new ImageService({
                            cache: defs,
                            serviceUrl: '{{ paths.hosturl }}{{ paths.bolt }}image-service/image',
                            maxFiles: 1,
                            {% if field.maxFileSize %}
                                maxFileSize: {{ field.maxFileSize }},
                            {% endif %}
                            dataElement: '[name="{{ name }}"]',
                            hostElement: '#imageservice-{{ name }}',
                            attributes: {{ field.attributes|json_encode|raw }}
                        });

                        /**
                         * FIXME: Find a more reliable way to attach the save event. The bolt events are not cancelable, that
                         * is why the Bolt.Content.Save.Start is not a good option. Its also not syncronious.
                         */
                        $('#sidebarsavecontinuebutton, #savecontinuebutton').bind('click', {} ,function (event) {
                            imageService.onSave(event);
                        });

                    }
            )


        </script>

    </div>
{% endblock fieldset_controls %}
